body,
html,
div.board,

div#game_container {
  background-color: silver;
  width: 675px;
  height: 200px;

  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .4);
}

body {
  margin: 0;
  padding: 0;
}

#game_phaser {  
  margin-top: auto;  
  margin-left: auto;  
  margin-right: auto;
}

#game_phaser canvas {  
  margin: 0px 0px;  
  border: 2px solid rgb(255, 255, 255);
}

